@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  color: black;
  background-color: #fff;
}

.nav-bar {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #316ff6;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #555;
}
.admin {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/bg.webp");
}
